<article class="page-content page-a1">
    <div class="page-content__header">
        <h1>Banners and Snackbars</h1>
    </div>
    <p class="page-content__description">
        I met a girl who sang the blues and I asked her for some happy news but she just smiled and turned away. I went down to the sacred store where I'd heard the music years before but the man there said the music wouldn't play. And in the streets the children screamed. The lovers cried, and the poets dreamed but not a word was spoken. The church bells all were broken and the three men I admire most - the Father, Son and the Holy Ghost. They caught the last train for the coast. The day the music died.
    </p>
    <div class="d-flex justify-content-around mt-5">
        <button matRipple class="primary-button" (click)="openCommunication('banner')">Banner</button>
        <button matRipple class="secondary-button" (click)="openCommunication('snackbar')">Snackbar</button>
    </div>
</article>
