<header>
    <div class="primary-header row justify-content-center">
        <div class="col-10 d-flex justofy-content-between align-items-center">
            <img class="brand-logo"
                src="assets/images/logo-nav@2x.png"
                alt="Modhyobitto Logo">
        </div>
    </div>
    <div class="primary-navigation row justify-content-center">
        <nav class="col-10" aria-labelledby="primary-navigation">
            <a routerLink="dashboard">Dashboard</a>
            <a routerLink="module-a">Module A</a>
            <a routerLink="module-b">Module B</a>                
        </nav>
    </div>
</header>