<article class="page-content page-b8">
  <div class="page-content__header">
    <h1>Blog Posts</h1>
  </div>
  <p class="page-content__description">
    Did you write the book of love and do you have faith in God above if the
    Bible tells you so? Now, do you believe in rock 'n' roll? Can music save
    your mortal soul? And can you teach me how to dance real slow? Well, I know
    that you're in love with him 'cause I saw you dancin' in the gym. You both
    kicked off your shoes. Man, I dig those rhythm and blues. I was a lonely
    teenage bronckin' buck with a pink carnation and a pickup truck but I knew I
    was out of luck. The day the music died.
  </p>
  <ul class="blog-links">
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/introduction-to-optimized-angular-codebase-setup-d60552dcb59a"
        >Introduction to optimized Angular codebase setup.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/optimized-angular-component-and-routing-setup-f39d675ac3dc"
        >Optimized Angular Component and Routing Setup.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/optimized-styling-framework-setup-for-angular-add6646b19d9"
        >Optimized Styling Framework Setup for Angular.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/optimized-angular-material-setup-21ea8ea2b8"
        >Optimized Angular Material Setup.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/optimized-service-api-integration-for-angular-476eac8dc5c9"
        >Optimized Service/ API Integration for Angular.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/angular-api-file-download-286b10122d31"
        >Angular API File Download.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/angular-material-file-uploader-b78aa070f77d"
        >Angular Material File Uploader.</a
      >
    </li>
    <li>
      <span class="material-icons-outlined"> article </span>
      <a
        target="_blank"
        href="https://owrrpon.medium.com/editable-an-editable-table-using-angular-material-7a4c4210bb71"
        >EdiTable — An editable table using Angular Material.</a
      >
    </li>
  </ul>
</article>
