<footer>
    <div class="primary-footer row justify-content-center">
        <div class="col-10">
            <section class="primary-footer__sitemap">
                <div class="row">
                    <div class="section-link-container col-6 col-md-3">
                        <div class="section-header">
                            Module A
                        </div>
                        <ul class="section-links">
                            <li><a routerLink="module-a/page-a1">Form Fields</a></li>
                            <li><a routerLink="module-a/page-a2">Banners and Snackbars</a></li>
                            <li><a routerLink="module-a/page-a3">Dialogs</a></li>
                            <li><a routerLink="module-a/page-a4">File Download</a></li>
                        </ul>
                    </div>
                    <div class="section-link-container col-6 col-md-3">
                        <div class="section-header">
                            Module B
                        </div>
                        <ul class="section-links">
                            <li><a routerLink="module-b/page-b5">File Uploader</a></li>
                            <li><a routerLink="module-b/page-b6">Basic Table</a></li>
                            <li><a routerLink="module-b/page-b7">EdiTable</a></li>
                            <li><a routerLink="module-b/page-b8">Page 8</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="primary-footer__legal">
                    <div class="primary-footer__legal-disclaimer">
                        <p>
                            Birds flying high, you know how I feel. Sun in the sky, you know how I feel. Breeze driftin' on by, you know how I feel. It's a new dawn. It's a new day. It's a new life for me, yeah. It's a new dawn. It's a new day. It's a new life for me, ooh. And I'm feeling good.
                        </p>
                    </div>
                    <div class="primary-footer__legal-copyright d-flex align-items-center">
                        <img class="brand-logo"
                            src="assets/images/logo-nav@2x.png"
                            alt="Modhyobitto Logo">
                        <div class="copyright-notice">Copyright &copy; 2021 Modhyobitto Pvt. Ltd.</div>
                    </div>
            </section>
        </div>
    </div>
</footer>