<article class="page-content page-a4">
    <div class="page-content__header">
        <h1>File Download</h1>
    </div>
    <p class="page-content__description">
        Now, for ten years we've been on our own and moss grows fat on a rollin' stone but that's not how it used to be. When the jester sang for the king and queen in a coat he borrowed from James Dean and a voice that came from you and me. Oh, and while the king was looking down the jester stole his thorny crown. The courtroom was adjourned. No verdict was returned. And while Lenin read a book on Marx. A quartet practiced in the park and we sang dirges in the dark. The day the music died.
    </p>
    <div class="row g-0 justify-content-around mt-5">
        <button matRipple class="primary-button col-12 col-sm-5" (click)="downloadFile()">Download</button>
    </div>
</article>
