<div class="row">
    <div class="col-12 col-md-3">
        <section role="side-bar" class="side-bar">
            <h1 class="side-bar__heading">
                <span class="side_bar__heading-title">Module A</span>
                <button mat-button class="side-bar__menu"                     
                    [matMenuTriggerFor]="menu" 
                    aria-labelledby="sectional-navigation">
                    <span aria-hidden="true" class="material-icons">menu</span>
                </button>
                <mat-menu #menu="matMenu" class="side-bar__menu-items">
                    <button mat-menu-item
                        routerLinkActive="side-bar__menu-item--active" 
                        routerLink="page-a1">Form Fields</button>
                    <button mat-menu-item
                        routerLinkActive="side-bar__menu-item--active" 
                        routerLink="page-a2">Banners and Snackbars</button>
                    <button mat-menu-item
                        routerLinkActive="side-bar__menu-item--active" 
                        routerLink="page-a3">Dialogs</button>
                    <button mat-menu-item 
                        routerLinkActive="side-bar__menu-item--active"
                        routerLink="page-a4">File Download</button>                
                </mat-menu>
            </h1>
            <nav aria-labelledby="sectional-navigation" class="side-bar__navigation">
                <ul class="side-bar__navigation-links d-none d-md-block">
                    <li>
                        <a routerLinkActive="side-bar__navigation-links--active"
                            routerLink="page-a1">Form Fields</a>
                    </li>
                    <li>
                        <a routerLinkActive="side-bar__navigation-links--active"
                            routerLink="page-a2">Banners and Snackbars</a>
                    </li>
                    <li>
                        <a routerLinkActive="side-bar__navigation-links--active"
                            routerLink="page-a3">Dialogs</a>
                    </li>
                    <li>
                        <a routerLinkActive="side-bar__navigation-links--active"
                            routerLink="page-a4">File Download</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="col-12 col-md-9">
        <main role="main">
            <router-outlet (activate)="global_utilities.onRouteActivation()"></router-outlet>
        </main>
    </div>
</div>
