//This file will have the style variables that will be needed across the application.

$modhyobitto-colors: (
    primary: #7cb342,
    primary-light: #aee571,
    primary-dark: #4b830d,

    notification: #B00020,
    subtle-bg: #EEEEEE,
    default-text: #000000,

    disabled-text: rgb(0,0,0,0.26),
    disabled-bg: rgb(0,0,0,0.12),
    divider: rgb(0,0,0,0.12)
);

