<article class="page-content page-a1">
    <div class="page-content__header">
        <h1>Form Fields</h1>
    </div>
    <section class="form-fields-demo">
        <form class="form-fields-demo__form" 
                [formGroup]="formfield_demo_form" 
                (ngSubmit)="initiateDemoSubmit()"
                #form_ref>
        <div class="form-fields-demo__fields">
            <div class="row">
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="text"
                        label="Text Field"
                        placeholder="Enter text field value"
                        maxlength="7">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="required_text"
                        label="Required Text Field"
                        placeholder="Enter required value"
                        maxlength="7">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="custom_required_text"
                        label="Custom Required Field"
                        placeholder="Enter required value"
                        required_error="Can Your Majesty please fill this up?"
                        maxlength="7">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="generic_validation"
                        label="Generic Validation"
                        placeholder="Enter a number > 10"
                        maxlength="7">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="custom_validation"
                        label="Custom Validation"
                        placeholder="Enter percentage value"
                        maxlength="7">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="select"
                        label="Select Menu"
                        type="select"
                        [select_option_map]="select_option_list">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="date"
                        label="Select Date"
                        type="date">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="start_date"
                        enddate_control_name="end_date"
                        label="Select Date Range"
                        type="daterange">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-12">
                    <app-modhyobitto-form-field
                        [parent_FG]="formfield_demo_form"
                        control_name="textarea"
                        label="Text Area"
                        type="textarea">
                    </app-modhyobitto-form-field>
                </div>
                <div class="col-6">
                    <ul class="modhyobitto-checkbox-list">
                        <li>
                          <mat-checkbox formControlName="checkbox1">
                            Checkbox 1
                          </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox formControlName="checkbox2">
                              Checkbox 2
                            </mat-checkbox>
                          </li>
                    </ul>
                </div>
            </div>
        </div>
        <footer class="form-fields-demo__footer">
            <button matRipple
                class="secondary-button"
                type="button"
                (click)="resetDemoForm()">Reset</button>
            <button matRipple
                class="primary-button"
                type="submit"
                [disabled]="!formfield_demo_form.valid">Submit</button>
        </footer>
        </form>
    </section>
</article>
