<div class="modhyobitto-dialog">
    <h2 mat-dialog-title class="h3">{{data.title}}</h2>
    <mat-dialog-content>
        {{data.message}}
    </mat-dialog-content>
    <mat-dialog-actions>
        <!-- Compulsory Dismiss Button -->
        <button matRipple [mat-dialog-close]>{{data.dismiss_text || 'OK'}}</button>
        <!-- Optional Action -->
        <button *ngIf="!!data.action"
            matRipple [mat-dialog-close] (click)="data.action()">{{data.action_text}}</button>
    </mat-dialog-actions>
</div>