<div class="modhyobitto-file-uploader">
    <div class="file-uploader__instructions">
        Drag and drop the file(s) on the gray here or click on "Browse Files".
    </div>
    <div class="files-for-upload">
        <mat-expansion-panel class="selected-file" hideToggle disabled>
            <mat-expansion-panel-header>
                <div class="selected-file__header">
                    <div class="selected-file__name">
                        Dummy_file_name.pdf
                    </div>
                    <div class="selected-file__actions">
                        <button 
                            matRipple
                            class="selected_file__upload primary-button"
                            matTooltip="Upload"
                            matTooltipPosition="left"
                            aria-label="Upload File">
                            <span aria-hidden="true" class="material-icons">file_upload</span>
                        </button>
                        <button 
                            matRipple
                            class="selected_file__cancel secondary-button"
                            matTooltip="Cancel"
                            matTooltipPosition="left"
                            aria-label="Cancel File">
                            <span aria-hidden="true" class="material-icons">clear</span>
                        </button>
                    </div>
                </div>
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
            </mat-expansion-panel-header>
            <div class="selected-file__upload-result">
                The file was uploaded successfully.
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="selected-file" hideToggle disabled>
            <mat-expansion-panel-header>
                <div class="selected-file__header">
                    <div class="selected-file__name">
                        Dummy_file_name.pdf
                    </div>
                    <div class="selected-file__actions">
                        <button 
                            matRipple
                            class="selected_file__upload primary-button"
                            matTooltip="Upload"
                            matTooltipPosition="left"
                            aria-label="Upload File" disabled>
                            <span aria-hidden="true" class="material-icons">file_upload</span>
                        </button>
                        <button 
                            matRipple
                            class="selected_file__cancel secondary-button"
                            matTooltip="Cancel"
                            matTooltipPosition="left"
                            aria-label="Cancel File">
                            <span aria-hidden="true" class="material-icons">clear</span>
                        </button>
                    </div>
                </div>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-expansion-panel-header>
            <div class="selected-file__upload-result">
                The file was uploaded successfully.
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="selected-file" hideToggle disabled expanded>
            <mat-expansion-panel-header>
                <div class="selected-file__header">
                    <div class="selected-file__name">
                        Dummy_file_name.pdf
                    </div>
                    <div class="selected-file__actions">
                        <button 
                            matRipple
                            class="selected_file__upload primary-button"
                            matTooltip="Upload"
                            matTooltipPosition="left"
                            aria-label="Upload File" disabled>
                            <span aria-hidden="true" class="material-icons">check</span>
                        </button>
                        <button 
                            matRipple
                            class="selected_file__cancel secondary-button"
                            matTooltip="Cancel"
                            matTooltipPosition="left"
                            aria-label="Cancel File">
                            <span aria-hidden="true" class="material-icons">clear</span>
                        </button>
                    </div>
                </div>
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
            </mat-expansion-panel-header>
            <div class="selected-file__upload-result">
                The file was uploaded successfully.
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="selected-file" hideToggle disabled expanded>
            <mat-expansion-panel-header>
                <div class="selected-file__header">
                    <div class="selected-file__name">
                        Dummy_file_name.pdf
                    </div>
                    <div class="selected-file__actions">
                        <button 
                            matRipple
                            class="selected_file__upload primary-button"
                            matTooltip="Upload"
                            matTooltipPosition="left"
                            aria-label="Upload File">
                            <span aria-hidden="true" class="material-icons">file_upload</span>
                        </button>
                        <button 
                            matRipple
                            class="selected_file__cancel secondary-button"
                            matTooltip="Cancel"
                            matTooltipPosition="left"
                            aria-label="Cancel File">
                            <span aria-hidden="true" class="material-icons">clear</span>
                        </button>
                    </div>
                </div>
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
            </mat-expansion-panel-header>
            <div class="selected-file__upload--error">
                Our apologies, this site is experiencing some technical difficulties. Please refresh the page or try again.
            </div>
        </mat-expansion-panel>
    </div>
    <div class="file-upload__options">
        <button 
        matRipple
        class="file-upload__browse primary-button">
            Browse Files
        </button>
        <button 
            matRipple
            class="all_file__upload primary-button"
            matTooltip="Upload All"
            matTooltipPosition="above"
            aria-label="Upload All Files">
            <span aria-hidden="true" class="material-icons">file_upload</span>
        </button>
        <button 
            matRipple
            class="all_file__cancel secondary-button"
            matTooltip="Cancel All"
            matTooltipPosition="above"
            aria-label="Cancel All Files">
            <span aria-hidden="true" class="material-icons">clear</span>
        </button>
    </div>
</div>