<div class="row justify-content-center">
    <div class="col-9">
        <main role="main">
            <article class="page-content dashboard">
                <div class="row">
                    <div class="col-6 d-flex flex-column justify-content-between">
                        <div class="page-sub-section">
                            <div class="page-sub-section__header">
                                <h1 class="h3">Modus Operandi</h1>
                            </div>
                            <div class="page-sub-section__info d-flex align-items-center">
                                <div class="page-sub-section__logo">
                                    <span class="modhyobitto-icon modhyobitto-address"></span>
                                </div>
                                <p class="page-sub-section__description">
                                    I met a girl who sang the blues and I asked her for some happy news but she just smiled and turned away. 
                                </p>
                            </div>
                            <ul class="page-sub-section__links">
                                <li><a routerLink="../module-a/page-a1">Form Fields</a></li>
                                <li><a routerLink="../module-a/page-a2">Page 2</a></li>
                            </ul>
                        </div>
                        <div class="page-sub-section">
                            <div class="page-sub-section__header">
                                <h1 class="h3">Modus Jor Se Praan Di</h1>
                            </div>
                            <div class="page-sub-section__info d-flex align-items-center">
                                <div class="page-sub-section__logo">
                                    <span class="modhyobitto-icon modhyobitto-express-mail"></span>
                                </div>
                                <p class="page-sub-section__description">
                                    Oh, and there we were all in one place. A generation lost in space with no time left to start again. 
                                </p>
                            </div>
                            <ul class="page-sub-section__links">
                                <li><a routerLink="../module-b/page-b5">Page 5</a></li>
                                <li><a routerLink="../module-b/page-b6">Page 6</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-between">
                        <div class="page-sub-section">
                            <div class="page-sub-section__header">
                                <h1 class="h3">Modus Baba Gandhi</h1>
                            </div>
                            <div class="page-sub-section__info d-flex align-items-center">
                                <div class="page-sub-section__logo">
                                    <span class="modhyobitto-icon modhyobitto-delivery"></span>
                                </div>
                                <p class="page-sub-section__description">
                                    Now, for ten years we've been on our own and moss grows fat on a rollin' stone but that's not how it used to be. 
                                </p>
                            </div>
                            <ul class="page-sub-section__links">
                                <li><a routerLink="../module-a/page-a3">Page 3</a></li>
                                <li><a routerLink="../module-a/page-a4">Page 4</a></li>
                            </ul>
                        </div>
                        <div class="page-sub-section">
                            <div class="page-sub-section__info">
                                <div class="page-sub-section__header">
                                    <h1 class="h3">Modus Kandchhe ThanDi</h1>
                                </div>
                                <div class="page-sub-section__info d-flex align-items-center">
                                    <div class="page-sub-section__logo">
                                        <span class="modhyobitto-icon modhyobitto-post-office"></span>
                                    </div>
                                    <p class="page-sub-section__description">And in the streets the children screamed. The lovers cried, and the poets dreamed but not a word was spoken.</p>
                                </div>
                                <ul class="page-sub-section__links">
                                    <li><a routerLink="../module-b/page-b7">Page 7</a></li>
                                    <li><a routerLink="../module-b/page-b8">Page 8</a></li>
                                </ul>                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>