<p>dashboard works!</p>
<div class="d-flex justify-content-center">
    <span class="modhyobitto-icon modhyobitto-address"></span>
    <span class="modhyobitto-icon modhyobitto-delivery"></span>
    <span class="modhyobitto-icon modhyobitto-express-mail"></span>
    <span class="modhyobitto-icon modhyobitto-post-office"></span>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-3"><span class="modhyobitto-icon modhyobitto-address"></span></div>
        <div class="col-2"><span class="modhyobitto-icon modhyobitto-delivery"></span></div>
        <div class="col-5"><span class="modhyobitto-icon modhyobitto-express-mail"></span></div>
        <div class="col-2"><span class="modhyobitto-icon modhyobitto-post-office"></span></div>
    </div>
</div>