<article class="page-content page-a1">
    <div class="page-content__header">
        <h1>Page Seven</h1>
    </div>
    <p class="page-content__description">
        Did you write the book of love and do you have faith in God above if the Bible tells you so? Now, do you believe in rock 'n' roll? Can music save your mortal soul? And can you teach me how to dance real slow? Well, I know that you're in love with him 'cause I saw you dancin' in the gym. You both kicked off your shoes. Man, I dig those rhythm and blues. I was a lonely teenage bronckin' buck with a pink carnation and a pickup truck but I knew I was out of luck. The day the music died.
    </p>
</article>
