<div class="container-fluid">
    <div class="row login-page">
        <div class="col-12 col-sm-4 col-md-5 col-lg-6 login-page__banner row g-0 justify-content-center">
            <div class="col-10 d-flex flex-column justify-content-center align-items-center">
                <h1 class="h2">MODHYOBITTO</h1>
                <img class="brand-logo"
                    src="assets/images/logo-nav@2x.png"
                    alt="Modhyobitto Logo">
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-7 col-lg-6 login-page__form">
            
        </div>
    </div>
</div>