<article class="page-content page-b5">
    <div class="page-content__header">
        <h1>File Uploader</h1>
    </div>
    <p class="page-content__description">
        Oh, and there we were all in one place, a generation lost in space with no time left to start again. So, come on, Jack be nimble, Jack be quick. Jack Flash sat on a candlestick 'cause fire is the Devil's only friend. Oh, and as I watched him on the stage my hands were clenched in fists of rage. No angel born in Hell could break that Satan spell. And as the flames climbed high into the night to light the sacrificial rite, I saw Satan laughing with delight. The day the music died.
    </p>
    <div class="row g-0 justify-content-around mt-5">
        <app-modhyobitto-file-uploader></app-modhyobitto-file-uploader>
    </div>
</article>
